.gate-list-container {
    height: 98vh;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    /*border: 1px solid silver;*/
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin: 1vh;
    padding: 1vh;
}
.gate-list li{
    display: flex;
    flex-direction: row;
    padding: 1vh;
    border-radius: 10px;
}

.gate-list li:hover{
    background-color: #f1f7ff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.gate-list{
    display: flex;
    flex-direction: column;
}